<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="Faculty Name">Faculty Name</label>
                    <input type="Faculty Name" placeholder="Faculty Name" class="form-control" name="name"[(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="Department">Department</label>
                    <select name="dept"[(ngModel)]="dept" id=""  class="form-control">
                        <option  value="--Select--">--Select--</option>
                        <option value="CSE">CSE</option>
                        <option value="ECE">ECE</option>
                        <option value="EEE">EEE</option>
                        <option value="Mech">Mech</option>
                        <option value="Civil">Civil</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="Designation">Designation</label>
                    <input type="Designation" placeholder="Designation" class="form-control" name="desig"[(ngModel)]="desig">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="D.O.B">D.O.B</label>
                    <input type="date" name="dob"[(ngModel)]="dob" id="" placeholder="dd-mm-yyy" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="Qualification">Qualification</label>
                    <input type="Qualification" placeholder="Qualification" class="form-control" name="qual"[(ngModel)]="qual">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Address">Address</label>
                    <textarea name="address"[(ngModel)]="address" id="" cols="30" rows="10" placeholder="Address" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="Mobile">Mobile</label>
                    <input type="Mobile" placeholder="Mobile" class="form-control" name="mobile"[(ngModel)]="mobile">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-info" (click)="readValues()" >SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>