<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            
            <table class="table">
                <thead>
                  <tr>
                   
                    <th scope="col">Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Designation</th>
                    <th scope="col">D.O.B</th>
                    <th scope="col">Qualification</th>
                    <th scope="col">Address</th>
                    <th scope="col">Mobile</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of facultyData">
                    
                    <td>{{i.name}}</td>
                    <td>{{i.dept}}</td>
                    <td>{{i.desig}}</td>
                    <td>{{i.dob}}</td>
                    <td>{{i.qual}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.mobile}}</td>
                  </tr>
                </tbody>
              </table>
           
        </div>
    </div>
</div>